<div class="text-center mt-5">
<h1>Stupid Coaching</h1>

<p class=" border-start border-info border-3 text-warning ms-3"><%= @coach_answer %></p>
<%= link_to "Ask another question", ask_path %>
</div>
